.SearchResults {
    width: 52%;
    height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: #010C27;
    border: 1px solid #d9d9d9
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }